* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.gambarbk{
      width: 100%;
        background-size: cover;
      margin-top: 80px;
      margin-bottom: -2px;
  }
@media (min-width: 1400px){
   .gambarbk{
      width: 100%;
        background-size: cover;
      margin-top: 80px;
      height: 480px;
      margin-bottom: -2px;
  }
     }

/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  /*top: 25%;*/
  /*right: 90px;*/
  border: 1px solid #888;
  width: auto;
  /*margin-top: -30px;*/
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px 0 0 3px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  /*position: absolute;
  right: 0;*/
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #D3D3D3;
}
/*rgba(0,0,0,0.8)*/

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Add an italic font style to all quotes */
q {font-style: italic;}

q::before {
    font-size: 30px;
}
q::after {
    font-size: 30px;
}
/* Add a blue color to the author */
.author {color: cornflowerblue;}

.slideshow-container .prev, .next{
  /*margin-right: 45%;*/
}

@media (min-width: 100px) {
  .slideshow-container .prev, .next{
    /*margin-right: 30%;*/
    top: -1%;
  }

  .mySlides {
      padding: 80px 20px 80px 20px;
  }
}

@media (min-width: 320px) {
  .slideshow-container .prev, .next{
    /*margin-right: 30%;*/
    top: -1%;
  }

  .mySlides {
      padding: 80px 20px 80px 20px;
  }
}

@media (min-width: 360px) {
  .slideshow-container .prev, .next{
    /*margin-right: 30%;*/
    top: -1%;
  }
}

@media (min-width: 384px) {
  .slideshow-container .prev, .next{
    /*margin-right: 30%;*/
    top: -1%;
  }
}

@media (min-width: 412px) {
  .slideshow-container .prev, .next{
    /*margin-right: 30%;*/
    top: -2%;
  }
}

@media (min-width: 600px){
  .slideshow-container .prev, .next {
      /*margin-right: 38%;*/
      top: -2%;
  }
}


@media (min-width: 640px){
  .slideshow-container .prev, .next {
      /*margin-right: 40%;*/
      top: -2%;
  }

}

@media (min-width: 768px){
  .slideshow-container .prev, .next {
      /*margin-right: 40%;*/
      top: -2%;
  }

}

@media (min-width: 800px) {
  .slideshow-container .prev, .next{
    /*margin-right: 40%;*/
    top: 1%;
  }
}

@media (min-width: 1200px) {
  .slideshow-container .prev, .next{
   /*margin-right: 45%;*/
  }
}

.transparan .form-control{
  background-color: transparent;
  color: white;
}

.bp{ margin-bottom: 5px; }

/* adding css by aziz*/

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height:200px;
    background-position: center;
}

.fakeimgs {
    background-color: #eff3f7;
    width: 100%;
    padding: 5px;
    color: #000;
    margin: 3px;
    float: left;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top:0px;
}
